.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(100deg,blue,red,pink);
}
.hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
.selector{
    width: 350px;
}
.selectfield{
    width: 100%;
    font-size: larger;
    background-color: white;
    padding: 5px 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.selectfield img{
    width: 15px;
    transition: transform 0.3s;
}

#list{
    
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.options{
    background-color: white;
    padding-top: 15px;
    list-style-type: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    
}
.options img{
    width: 20px;
    border-radius:50%;
    position: absolute;
    top:30px;
    left:-30px;
}
.options:hover{
    background-color: whitesmoke;
}